---
---

@import "{{ site.theme }}";

a {
    color: #2989e2;
    text-decoration: none;
  
    &:hover {
      text-decoration: underline;
    }
  }

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2.0em;
}

h3 {
  font-size: 1.5em;
}
